.THIS.Chrome-Masthead-XL-L {
    width: 1200px;
    margin: 0 auto;
    background-color: #FFF;
    background: url(/resource/EmployeeCommunityAssets/header/background-header.jpg) top left no-repeat;
}

.THIS .Rectangle-3 {
    width: 1200px;
    height: 63px;
    background-color: rgba(0, 0, 0, 0.5);
}

.THIS .Rectangle-13 {
    width: 166px;
    height: 63px;
    opacity: 2;
    background-color: #b91320;
}

.THIS .Bounds {
    width: 64px;
    height: 63px;
}

/* logo */
.THIS .logo {
    float: left;
    padding: 20px 32px;
}

.THIS .Absa_white {
    width: 102px;
    height: 23px;
    object-fit: contain;
}

/* header center bar */
.THIS .header-search {
    float: left;
    width: 906px;
    height: 63px;
    border-right: 1px solid #FFF;
}

/* header squares top right */
.THIS .header-box {
    float: left;
    padding-top: 15px;
}

/****** notification box ******/
/* put new icon */
.THIS .header-box.notifications { background-image: url(/resource/EmployeeCommunityAssets/header/notifications.png); background-repeat: no-repeat; background-position: center center; border-right: 1px solid #FFF; }
/* align it */
.THIS button.bare.slds-button.slds-button--icon.slds-button--icon-container.slds-button--icon-small.slds-global-header__button--icon.uiButton.forceHeaderButton.unsNotificationsCounter {
    padding: 4px;
}
/* hide the original notification icon */
.THIS button.bare.slds-button.slds-button--icon.slds-button--icon-container.slds-button--icon-small.slds-global-header__button--icon.uiButton.forceHeaderButton.unsNotificationsCounter .slds-icon_container.slds-icon-utility-notification.slds-button__icon.slds-global-header__icon.slds-button__icon.forceIcon {
    visibility: hidden;
}

.THIS .Divider { width: 1200px; height: 1px; background-color: #FFF; }
.THIS #body { clear: both; }
.THIS .Footer-text { font-size: 14px; line-height: 1.5; letter-spacing: normal; text-align: center; color: #555555; background: #FFF; }

/* "fixes" for the default Napili CSS */
.THIS .forceCommunitySearchBox .search-field { text-align: right!important; font-style: italic; color: #AAA; height: 64px; padding-right: 78px!important; background: transparent!important; }
.THIS .selfServiceProfileMenuTrigger a { text-shadow: none!important; }
.THIS .selfServiceProfileMenuTrigger .trigger-link:focus { box-shadow: none!important; }
.THIS .selfServiceProfileMenuTrigger .trigger-link .profileName,
.THIS .selfServiceProfileMenuTrigger .trigger-link .triggerDownArrow { display: none!important; }

.THIS .forceCommunitySearchBox .search-button.uiButton,
.THIS .forceCommunitySearchBox .has-input .search-button.uiButton,
.THIS .forceCommunitySearchBox .search-button.uiButton.focus { width: 64px!important; background-color: transparent!important; background-image: url(/resource/EmployeeCommunityAssets/header/search.png); background-repeat: no-repeat; background-position: center center; }
.THIS .forceCommunitySearchBox .search-button span.label { display: none; }

.THIS .siteforceContentArea .comm-layout-column:not(:empty) { padding-top: 0!important; padding-bottom: 0!important; }
.THIS .forceCommunityHeadline .headlineTitle { text-align: left; padding: 23px 37px 2px 17px; font-size: 32px; font-weight: 100; font-style: normal; font-stretch: normal; line-height: 1.13; letter-spacing: normal; color: #FFF; }
.THIS .forceCommunityHeadline .headlineInfo { text-align: left; margin: .5em 0; padding-left: 17px; color: #FFF; height: 19px; /* for proper alignment even when empty */ }
.THIS .forceTopicSubTopicNavigation .topic-subNavContainer { text-align: left; padding-left: 17px; padding-right: 37px; }
.THIS .forceTopicSubTopicNavigation .topic-subNavContainer a { color: #FFF; }

/* Modify the featured topics component */
.THIS .forceCommunityHomeTabs .forceTopicFeaturedTopics .topicContent,
.THIS .forceTopicFeaturedTopics .topicContent { background: transparent!important; }
.THIS .forceCommunityHomeTabs .forceTopicFeaturedTopics .topicLabel,
.THIS .forceTopicFeaturedTopics .topicLabel { color: #0074a6!important; position: absolute; bottom: -20px; width: 100%; margin: 0 auto; }

/****************************************
 * Forcing SLDS buttons into ABSA buttons. DON'T CHANGE THE ORDER OF THE RULES
*/
.THIS .slds-button,
.THIS .slds-button-group .slds-button:only-child,
.THIS .slds-button-group-list li:only-child .slds-button { height: 40px; border-radius: 5px; font-size: 16px; line-height: 1.25; }
.THIS .slds-button-group .slds-button { border-radius: 0; line-height: 2.25; }
.THIS .slds-button-group-list li:first-child .slds-button,
.THIS .slds-button-group .slds-button:first-child { border-radius: 5px 0 0 5px; }
.THIS .slds-button-group .slds-button:last-child { border-radius: 0 5px 5px 0; }
.THIS .slds-button.slds-button--icon-x-small  { height: 21px; font-size: 13px; }

/* undoing for the calendar icon in the date input fields */
.THIS .slds-input__icon .slds-button,
.THIS .slds-input__icon .slds-button-group .slds-button:only-child,
.THIS .slds-input__icon .slds-button-group-list li:only-child .slds-button { height: auto; border-radius: 5px; font-size: inherit; line-height: inherit; }

.THIS .slds-button-group .slds-button:only-child,
.THIS .slds-button-group-list li:only-child .slds-button { padding-top: 8px; }

.THIS .slds-button[disabled],
.THIS .slds-button.slds-button--neutral.uiButton--brand[disabled],
.THIS .slds-button[disabled].slds-button--neutral,
.THIS .slds-button[disabled].slds-button--neutral:hover,
.THIS .slds-button[disabled].slds-button--neutral:focus { background: #DDD; border: 1px solid #DDD; color: #888; }

.THIS .slds-button_neutral:hover,
.THIS .slds-button_neutral:focus,
.THIS .slds-button--neutral:hover,
.THIS .slds-button--neutral:focus,
.THIS .oneActionsRibbon li.slds-button--neutral > a:hover,
.THIS .oneActionsRibbon li.slds-button--neutral > button:hover,
.THIS .oneActionsRibbon li.slds-button--neutral > a:focus,
.THIS .oneActionsRibbon li.slds-button--neutral > button:focus { background-color: transparent; }

.THIS .slds-button--brand:hover,
.THIS .slds-button--brand:focus,
.THIS .slds-button_brand:hover,
.THIS .slds-button_brand:focus,
.THIS .slds-button_neutral.uiButton--brand:hover,
.THIS .slds-button_neutral.uiButton--brand:focus,
.THIS .slds-button--neutral.uiButton--brand:hover,
.THIS .slds-button--neutral.uiButton--brand:focus,
.THIS .oneActionsRibbon li.slds-button--neutral.uiButton--brand > a:hover,
.THIS .oneActionsRibbon li.slds-button--neutral.uiButton--brand > button:hover,
.THIS .oneActionsRibbon li.slds-button--neutral.uiButton--brand > a:focus,
.THIS .oneActionsRibbon li.slds-button--neutral.uiButton--brand > button:focus { background-color: #2bac46; border: 1px solid #2bac46; }

.THIS .slds-button:hover,
.THIS .slds-button:focus { box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2); }
.THIS .forcePublisherQuickActionCollapser .slds-button:hover,
.THIS .forcePublisherQuickActionCollapser .slds-button:focus { box-shadow: none; }

.THIS .slds-button[disabled]:hover,
.THIS .slds-button[disabled]:focus,
.THIS .slds-button.slds-button--neutral.uiButton--brand[disabled]:hover,
.THIS .slds-button.slds-button--neutral.uiButton--brand[disabled]:focus { box-shadow: 0 0 0; background: #FFF; color: #BBB; }

/* search field in chatter, to align height to the one of the buttons next to it */
.THIS .forceChatterSearchInFeed .slds-input { height: 40px; line-height: 1.25; }

/* Responsive */
@media screen and (max-width:1024px) {
	.THIS { }    
}