.THIS .toggle {
    display: none;
}

.THIS #headerDropdownButton {
    width: 100%;
    border-radius: 0;
    height: 3em;
    font-size: 1.1em;
}

.THIS #headerDropdownMenu {
    width: 100%;
    max-width: 100%;
}

.THIS #headerDropdownMenu a {
	padding-left: 1em;   
}

.THIS .borderBottom {
    border-bottom: 1px solid #F4F6F9;
}