.THIS #wholePage {
    padding: 0.5em;
    background-color: white;
    min-height: 30em;
}

.THIS #pageLabel {
    padding: 1em;
    background-color: #F4F6F9;
}

.THIS #buttonsWrapper {
    margin-top: 1em;
    text-align: right;
}