.THIS #wholePage {
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

.THIS .sectionLabel {
    border: 1px solid #d8dde6;
    border-radius: 0.25em;
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.THIS .section {
    margin-left: 1em;
    margin-right: 1em;
}

.THIS .paddingTop1em {
    padding-top: 1em;
}

.THIS .scoreLabel {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.THIS #weaknesses {
    margin-bottom: 1em;
}

.THIS .toggle {
    display: none;
}

.THIS .organogramItemButton {
    padding-left: 0.5em !important;
    padding-right: 0.4em !important;
}

.THIS .bp-item .slds-dropdown__item {
    padding: 0.2em;
}

.THIS .score {
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    padding: 0.5em;
}

.THIS .floatRight {
    float: right;
}

.THIS .organogramArrowKeyWrapper {
    height: 2.5em;
    padding-right: 2em;
}

.THIS #organogramButtonsBottom {
    padding-top: 0.25em;
}

.THIS #organogramImage {
    margin-top: 1em;
}

.THIS #organogramImageButtonsWrapper {
    padding-top: 1em;
    height: 4em;
}

.THIS #orgStructurePlaceholderWrapper {
    margin: auto;
    margin-top: 1em;
    padding-top: 2em;
    padding-bottom: 1em;
    width: 100%;
    background-color: #F4F6F9;
    text-align: center;
    border-radius: 0.5em;
}

.THIS #orgStructurePlaceholderLabel {
    margin-bottom: 2em;
    font-weight: bold;
}

.THIS #orgStructurePlaceholder button {
    width: 12em;
}

.THIS .buttonWrapper {
    margin-top: 1em;
}

.THIS #imageUploadPanel {
    padding-top: 1em;
    min-height: 4em;
}

.THIS .richtextWrapper {
    overflow-x: hidden;
    min-height: 7em;
}

.THIS .richTextMenu {
    border-top: 1px solid #D8DDE6;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.THIS .richtextEditorWrapper ul {
    list-style-type: disc;
    margin-left: 2em;
}

.THIS .richtextEditorWrapper ul li {
    display: list-item;
}

.THIS .richtextEditorWrapper ol {
    list-style-type: decimal;
    margin-left: 2em;
}

.THIS .richtextEditorWrapper ol li {
    display: list-item;
}

.THIS #swot .threat:last-child {
	margin-bottom: 1em;
}