.THIS #searchStrategyWrapper {
    margin: 1em;
}

.THIS .strategyItem{
    border-bottom: 1px solid #d8dde6;
    padding: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    background-color: white;
}

.THIS .slds-tile {
	margin-top: 0 !important;
}

.THIS .slds-button--icon-bare {
    top: 0.5em;
}

.THIS .padding05 {
    padding: 0.5em;
}

.THIS #addStrategyButton {
    width: 100%;
}

.THIS #noStrategiesPlaceholder {
    width: 100%;
    height: 10em;
    padding-top: 2.5em;
    background-color: white;
    border-radius: 0.5em;
}

.THIS #noStrategiesPlaceholderLabel {
    padding-top: 1em;
}

.THIS .alignCenter {
    text-align: center;
}