.THIS {
}

.THIS .dropdown-content {   
   
    background-color: rgba(235,235,235, .9);
  	min-width:250px;
    border: 1px solid #000;
    z-index: 1;
}
.THIS .dropdown-content-hide {   
    display: none;
}

.THIS .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.THIS .dropdown-content a:hover {background-color: rgba(210,210,210, 1);}