.THIS #wholePage {
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

.THIS .sectionLabel {
    border: 1px solid #d8dde6;
    border-radius: 0.25em;
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.THIS .toggle {
    display: none;
}

.THIS .item {
    border-bottom: 1px solid #d8dde6;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0;
}

.THIS .item .slds-tile__title {
    padding-top: 0.5rem;
}

.THIS #mapButtons {
    padding: 1em;
}

.THIS .floatRight {
    float: right;
}

.THIS .mapArrowKeyWrapper {
    height: 2.5em;
    padding-right: 2em;
}

.THIS #mapButtonsBottom {
    padding-top: 0.25em;
}

.THIS #vectorMapWrapper {
    padding-top: 1em;
}