.THIS {
    clear: both;
    width: 1200px;
    padding-left: 32px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
}

.THIS a { text-decoration: none; }
/* Main menu entries */
.THIS .TopNav-link,
.THIS .TopNav-link_Active
{ display: inline-block; position: relative; width: 140px; height: 48px; }
/* Make links the size of the whole block for better usability */
.THIS a.Nav-link { display: block; text-align: center; width: 140px; height: 48px; font-size: 14px; line-height: 48px; color: #FFF; }
.THIS .TopNav-link .arrow { border-top: 5px solid; border-left: 5px solid transparent; border-right: 5px solid transparent; display: inline-block; margin-left: 4px; margin-bottom: 3px; vertical-align: middle; }

.THIS .TopNav-link:hover { background-color: rgba(255, 255, 255, 0.1); border-bottom: 3px solid #CA4E57; }
.THIS .TopNav-link:hover ul.submenu { display: block; }

.THIS .TopNav-link ul.submenu { display: none; position: absolute; width: 264px; padding: 0 32px; background-color: #FFF; box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2); z-index: 10; }

.THIS .TopNav-link li.submenu a { color: #316A8E; line-height: 1.43; display: block; padding: 14px 4px; border-bottom: 1px solid #DDD; }
.THIS .TopNav-link li.submenu a:hover { padding-bottom: 12px; border-bottom: 3px solid #CA4E57; }
/*.THIS .TopNav-link li.submenu:last-child a,
.THIS .TopNav-link li.submenu:last-child a:hover
{ padding-bottom: 14px; border-bottom: none; }*/

/* highlight of the selected menu entry */
.THIS .home .Home,
.THIS .topic .Topics,
.THIS .group .News,
.THIS .discuss .Discuss,
.THIS .library .Library,
.THIS .mbEvent__c .Events,
.THIS .offices .Offices
{ border-bottom: 3px solid #CA4E57!important; }