.THIS .divtooltip{
    background-color : white;    
}
.THIS .pop{
    font-family:Verdana, 
    Arial, Helvetica, 
    sans-serif; 
    font-size:11px;
    z-index:99;
}
.THIS a:hover {
    background:#b3f0ff; 
    text-decoration:none;
}
.THIS .tooltip div#pop {
    display:none; 
    padding: 2px 3px;
    top: -20px;
    width: 350px;
    position: relative;
    margin-left: 20px;
}
.THIS .tooltip:hover div#pop{
    display:inline; 
    position:absolute;
    border:1px solid #66b3ff;
    border-radius: 13px;
    box-shadow: -4px -5px 8px #36A1AD;
    background:#ffffff; 
    color:#6c6c6c;
    z-index:99;
}