.THIS .ev-setup-complete .slds-icon {
    fill: #FFFFFF;
}

.THIS .ev-setup-incomplete .slds-icon {
    fill: #FFFFFF;
}

.THIS .ev-setup-complete {
    background-color: #88c651;
    padding: 5px;
    border-radius: 20px;
}

.THIS .ev-setup-partial {
    background-color: #fcb95b;
    padding: 5px;
    border-radius: 20px;
}

.THIS .ev-setup-incomplete {
    background-color: #ef6e64;
    padding: 5px;
    border-radius: 20px;
}