.THIS #wholePage {
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

.THIS .sectionLabel {
    border: 1px solid #d8dde6;
    border-radius: 0.25em;
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.THIS .toggle {
    display: none;
}

.THIS .item {
    border-bottom: 1px solid #d8dde6;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0rem;
}

.THIS .item .slds-tile__title {
    margin-top: 0.4rem;
}

.THIS #clientPlanInformation .item:last-child {
    margin-bottom: 1em;
}

.THIS .yearItem {
    text-align: center;
}

.THIS #financialsButtons {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
}

.THIS #financialsButtons button:last-child {
 	float: right;   
}

.THIS .marginBottom15 {
    margin-bottom: 1.5rem;
}

.THIS .marginBottom05 {
    margin-bottom: 0.5rem;
}

.THIS .marginTop2 {
    margin-top: 2em;
}

.THIS .borderTop {
    border-top: 1px solid #D8DDE6;
}

.THIS .richtextEditorWrapper ul {
    list-style-type: disc;
    margin-left: 2em;
}

.THIS .richtextEditorWrapper ul li {
    display: list-item;
}

.THIS .richtextEditorWrapper ol {
    list-style-type: decimal;
    margin-left: 2em;
}

.THIS .richtextEditorWrapper ol li {
    display: list-item;
}

.THIS .richtextEditorWrapper {
    max-width: 100%;
    overflow-x: hidden;
}