.THIS #wholePage {
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

.THIS .sectionLabel {
    border: 1px solid #d8dde6;
    border-radius: 0.25em;
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.THIS .item {
    border-bottom: 1px solid #d8dde6;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.THIS #clientPlanInformation .item:last-child {
    margin-bottom: 1em;
}

.THIS #clientTeam .slds-tile+.slds-tile {
    margin-top: 0rem;
}

.THIS .memberSettings {
    position: absolute;
    right: 1em;
}

.THIS .toggle {
    display: none;
}