.THIS.changeMe {
    width:200px;
}

.THIS.slds-spinner_container {
  z-index: 10000;
  position: fixed;
   
}

.THIS .buttonNewCase{ 
  borderColor:#660808;
  borderRadius : 10px;
}

.THIS .accSearch{ 
 	background:#00cccc;
    borderColor: #00cccc;
   	font: 11px Arial;
    color: white;
    borderRadius: 4px;
}

.THIS .regSearch{ 
   background: #00cccc;
    borderColor: #00cccc;
    font: 11px Arial;
    color : white;
    borderRadius : 4px;
}

.THIS .idSearch{ 
   background: #00cccc;
    borderColor: #660808;
    font: 11px Arial;
    color : white;
    borderRadius : 4px;
}

.THIS .cifDetails{ 
   background: #00cccc;
    borderColor: #660808;
    font: 11px Arial;
    color : white;
    borderRadius : 4px;
}

.THIS .cifsfSearch{ 
   background: #00cccc;
    borderColor: #00cccc;
    font: 11px Arial;
    color : white;
    borderRadius : 4px;
}

.THIS .cifSearch{ 
   background: #0070d2;
    borderColor: #0070d2;
    font: 11px Arial;
    color : white;
    borderRadius : 4px;
}

.THIS .inputSel{
    display:inline;
}
.THIS .inputSel1{
}

.THIS .requiredInput{
    borderColor: red;
}

.THIS .lscSearchAccountComp{
    display:none;
}
.THIS .RelationshipName{
    display:block;
}

.THIS .boxshadow{ 
  outline: 0;
  border: 1px solid red;
  border-color: red;
  box-shadow: 0 0 1px red;
   
}

.THIS .boxshadow:focus, .THIS .boxshadow:active {
       border-color: red;
  		box-shadow:0 0 1px red;
}

.THIS .boxshadow2{
    outline: 0;
    border-color:red; 
    box-shadow: 0 0 1px red; 
}