.THIS #wholePage {
    padding: 1em;
    background-color: white;
    min-height: 30em;
}

.THIS #pageLabel {
    padding: 1em;
    background-color: #F4F6F9;
}

.THIS .marginBottom1em {
    margin-bottom: 1em;
}

.THIS #buttonsWrapper {
    margin-top: 1em;
    text-align: right;
}

.THIS .marginRight1 {
    margin-right: 1em;
}

.THIS .toggle {
    display:none;
}

.THIS .red {
    color: red;
}