.THIS #wholePage {
    background-color: white;
    min-height: 30em;
    padding: 1em;
}

.THIS #pageLabel {
    padding: 1em;
    background-color: #F4F6F9;
}

.THIS .marginBottom1em {
    margin-bottom: 1em;
}

.THIS #buttonsWrapper {
    text-align: right;
}

.THIS #buttonsWrapper button:first-child {
    margin-right: 1em;
}

.THIS .block {
    display: block;
}

.THIS .twitter-typeahead {
    width: 100%;
}

.THIS .tt-menu {
    width: 100%;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    cursor: pointer;
}

.THIS .tt-suggestion {
    padding: 3px 5px;
    font-size: 18px;
    line-height: 24px;
}

.THIS .tt-suggestion:hover {
    background-color: #00AEEF;
}

.THIS .toggle {
    display:none;
}

.THIS .red {
    color: red;
}