.THIS .heading{
    font-weight: bold;
    font-size: large;
}
.THIS .highlightTxt
{
    color: black;
    height: 18px;
    border-radius: 3px;
    background-color: red;
    font-weight: bold;
    font-size: small;
    float: right;
    margin-top: 7px;
    padding: 6px;
    display: flex;
    align-items: center;
}
.THIS .marginTop{margin-top:20px;}
.THIS .widthSmall{width:100px !important;}
.THIS .widthSmall input{margin-bottom:5px;}
.THIS .flexDv{display: flex;flex-direction: column;}
.THIS .flexContent{display: flex;justify-content: space-between;}
.THIS .agentNm{background:rgb(0, 112, 210);color:#fff;display: inline-block;padding: 0px 3px;}
 .THIS .textAlign{width: 100px;}
@media (max-width:767px)
    {
    .THIS .resflexContent{display: inherit;}
    .THIS .resflexContent .respCnt{width:100%; margin-bottom:10px;}
.THIS .responsiveView{display: inherit; border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 21px;}
.THIS .responsiveView .formElement{display: inline-block;}
.THIS .widthSmall{display: inline-block;margin-left: 10px;float: right;padding-right: 0;width: 74px !important;}
    .THIS .respFullWidth{width:100%;}
    .THIS .highlightTxt{float:left;}
    .THIS .highlightDv{display: flex;margin: 5px 0px;}
    .THIS .textAlign{text-align: right;width: 100%;}
}