.THIS #pageLabel {
    padding: 1em;
    background-color: #F4F6F9;
}

.THIS #wholePage {
    padding: 1em;
    background-color: white;
}

.THIS #buttonsWrapper {
    margin-top: 1em;
    text-align: right;
}

.THIS #buttonsWrapper button:first-child {
    margin-right: 1em;
}