.THIS #wholePage {
    background-color: white;
    min-height: 30em;
}

.THIS #pageLabel {
    padding: 1em;
    background-color: #F4F6F9;
}

.THIS .item {
    border-bottom: 1px solid #d8dde6;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.THIS .slds-tile {
	margin-top: 0 !important;
}

.THIS #countryMenu {
    float: right;
    position: relative;
    bottom: 0.5rem;
}

.THIS #moveBackButton {
    margin-left: 0.5em;
    margin-top: 0.5em;
}