.THIS #searchInputWrapper {
    margin: 1em;
}

.THIS .account {
    border-bottom: 1px solid #d8dde6;
    padding: 0.5em;
    padding-left: 1em;
    background-color: white;
}

.THIS .blue {
    color: rgb(0, 112, 210);
}

.THIS .clientPlans {
    margin-top: 0.5em;
}

.THIS .clientPlan {
    margin-left: 2em;
}

.THIS #loadMoreButtonWrapper {
    width: 100%;
    padding: 1em;
}

.THIS #loadMoreButton {
    width: 100%;
    padding: 0em;
}

.THIS .padding05 {
    padding: 0.5em;
}

.THIS #noStrategiesPlaceholder {
    width: 100%;
    height: 10em;
    padding-top: 2.5em;
    background-color: white;
    border-radius: 0.5em;
}

.THIS #noStrategiesPlaceholderLabel {
    padding-top: 1em;
}

.THIS .alignCenter {
    text-align: center;
}

.THIS .accountMenuButton {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 1em;
    position: relative;
    top: 0.5em;
}

.THIS .slds-tile {
    margin-top: 0px;
}

.THIS svg {
    vertical-align: initial;
}